*{
    margin: 0%;
    padding: 0%;
}

nav {
    border: 1px solid;
    background-color: rgb(255, 255, 255);
    box-shadow:   0px 0px 10px  rgb(0, 0, 0,1);
    padding: 1rem;
}

nav > a {
    font: 1.5rem ;
    color: rgb(7, 143, 254);
    text-decoration: none;
    margin: 0rem 1rem;

}